<div>
    <div class="commentList w-full" [style]="{'max-height': '30dvh', 'overflow-y': 'auto'}">
        <ul class="list-none p-0 m-0" style="height: 100%">
            <li *ngFor="let comment of comments" class="flex p-3 mb-1  surface-border border-round">
                <img src="assets/images/avatar/profile.png"
                     class="w-3rem h-3rem mr-3 flex-shrink-0" alt="profile picture"/>
                <div>
                    <div class="flex justify-between gap-2">
                        <span class="font-semibold text-900">{{ comment.personId }}</span>
                        <p class="font-semibold text-600 m-0 text-sm">{{ comment.published | nexusTime }}</p>
                    </div>

                    <p class="line-height-3 mb-0 my-3">{{ comment.text }}</p>
                </div>
            </li>
        </ul>
    </div>

    <div
        class="flex flex-column sm:flex-row align-items-center mt-auto border-top-1 surface-border gap-3">
        <input id="message" type="text" pInputText placeholder="Hozzászólás írása"
               class="flex-1 w-full sm:w-auto border-round"
               (keydown.enter)="triggerComment()" [formControl]="commentControl"/>
        <div class="flex w-full sm:w-auto gap-3">
            <button pRipple class="p-button p-button-secondary w-full sm:w-auto justify-content-center text-xl"
                    (click)="op.toggle($event)">😀
            </button>
            <button pButton pRipple label="Küld" icon="pi pi-send" class="w-full sm:w-auto"
                    [disabled]="isCommentEmpty" (click)="triggerComment()"></button>
        </div>
    </div>

</div>

<p-overlayPanel #op styleClass="w-full sm:w-30rem">
    <ng-template pTemplate>
        <button *ngFor="let emoji of emojis;" pButton pRipple (click)="op.hide(); onEmojiSelect(emoji)" type="button"
                [label]="emoji" class="p-2 p-button-text text-2xl"></button>
    </ng-template>
</p-overlayPanel>
