<svg width="54px" height="54px" viewBox="0 0 74 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="flex absolute z-1 mx-6 my-6"  >
    <title>Shape</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="noun_Nexused_1258501" fill="#FFFFFF" fill-rule="nonzero">
            <path class="st0" d="M74,0c-7.4,11-14.6,21.8-21.9,32.6c7,10.3,14,20.8,21.1,31.4c-0.6,0-1.2,0-1.6,0c-7.5,0-15,0-22.5,0
		c-1.1,0-1.7-0.4-2.3-1.3c-6.4-9.6-12.9-19.2-19.4-28.8c-0.7-1-0.7-1.7,0-2.7c6.8-10,13.5-20,20.3-30c0.4-0.5,1.1-1.1,1.7-1.1
		C57.4,0,65.5,0,74,0z"/>
            <path class="st0" d="M0,0.1c9.7,0,19.1,0,28.8,0C24,7.3,19.2,14.3,14.4,21.5C9.6,14.3,4.9,7.3,0,0.1z"/>
            <path class="st0" d="M0.9,63.8c4.6-6.8,9-13.4,13.6-20.2C19,50.4,23.4,57,28,63.8C18.9,63.8,10,63.8,0.9,63.8z"/>
        </g>
    </g>
</svg>
<div class="px-5 min-h-screen flex justify-content-center align-items-center bg-cover bg-center" [style]="{'background-image':'url(assets/demo/images/notfound/bg-404.jpg)'}">
    <div class="z-1 text-center">
        <div class="text-900 font-bold text-white text-8xl mb-4">NEM TALÁLHATÓ</div>
        <p class="line-height-3 text-white mt-0 mb-5 text-700 text-xl font-medium">A keresett oldal nem elérhető.</p>
        <p-button (click)="navigateBack()" styleClass="p-button-primary font-medium p-button-raised">Vissza a kezdőlapra</p-button>
    </div>
</div>


