<p-dialog [(visible)]="studentDialog" [style]="{width: '800px'}" header="Product Details" [modal]="true" class="p-fluid" (onHide)="hideDialog()">
    <ng-template pTemplate="content">
        <form [formGroup]="userForm" novalidate>
            <div class="field">
                <label for="last-name" class="block">Vezetéknév</label>
                <input type="text" pInputText id="last-name" formControlName="lastName" required autofocus/>
                <small class="p-error block" *ngIf="isInputInvalid('lastName')">A vezetéknév megadása kötelező.</small>
            </div>

            <div class="field">
                <label for="first-name">Keresztnév</label>
                <input type="text" pInputText id="first-name" formControlName="firstName" required/>
                <small class="p-error block" *ngIf="isInputInvalid('firstName')">A keresztnév megadása kötelező.</small>
            </div>

            <div class="field">
                <label for="password">Jelszó</label>
                <p-password  id="password" [feedback]="false" formControlName="password"></p-password>
                <small class="p-error block" *ngIf="isInputInvalid('password')">A jelszó megadása kötelező.</small>
            </div>

            <h5>Jogosultságok</h5>
            <div class="grid formgrid">
                <div class="col-12 md:col-2">
                    <div class="field-radiobutton">
                        <p-radioButton [value]="Role.ADMIN" formControlName="role" id="admin"></p-radioButton>
                        <label for="admin">{{ ROLE_TYPE.ADMIN }}</label>
                    </div>
                </div>
                <div class="col-12 md:col-2">
                    <div class="field-radiobutton">
                        <p-radioButton [value]="Role.STUDENT" formControlName="role" id="student"></p-radioButton>
                        <label for="student">{{ ROLE_TYPE.STUDENT }}</label>
                    </div>
                </div>
                <div class="col-12 md:col-2">
                    <div class="field-radiobutton">
                        <p-radioButton [value]="Role.PARENT" formControlName="role" id="parent"></p-radioButton>
                        <label for="parent">{{ ROLE_TYPE.PARENT }}</label>
                    </div>
                </div>
                <div class="col-12 md:col-2">
                    <div class="field-radiobutton">
                        <p-radioButton [value]="Role.TEACHER" formControlName="role" id="teacher"></p-radioButton>
                        <label for="teacher">{{ ROLE_TYPE.TEACHER }}</label>
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <div class="field-radiobutton">
                        <p-radioButton [value]="Role.FORM_TEACHER" formControlName="role" id="form-teacher"></p-radioButton>
                        <label for="form-teacher">{{ ROLE_TYPE.FORM_TEACHER }}</label>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Mégse" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button type="submit" pButton pRipple label="Mentés" icon="pi pi-check" class="p-button-text" [disabled]="userForm.invalid" (click)="saveStudent()"></button>
    </ng-template>
</p-dialog>
