<div class="layout-dashboard" [nexusLoading]="loading$">
    <div class="grid">
        <div class="col-12 xl:col-6">
            <app-announcement-block [announcements]="(announcements$ | async)!"></app-announcement-block>
        </div>
        <div class="col-12 xl:col-6">
            <app-task-block [tasks]="(tasks$ | async)!"></app-task-block>
        </div>
        <div class="col-12 xl:col-6">
            <app-absence-block [absences]="(absences$ | async)!"></app-absence-block>
        </div>
    </div>
</div>
