<div class="layout-dashboard">
    <div class="grid">
        <div class="col-12 xl:col-6">
            <app-announcement-block
                [announcements]="(announcements$ | async)!"
                [classId]="classId"
                [subjectId]="subjectId">
            </app-announcement-block>
        </div>
        <div class="col-12 xl:col-6">
            <app-task-block
                [tasks]="(tasks$ | async)!"
                [classId]="classId"
                [subjectId]="subjectId">
            </app-task-block>
        </div>
        <div class="col-12 xl:col-6">
            <app-absence-block
                [absences]="(absences$ | async)!"
                [classId]="classId"
                [subjectId]="subjectId">
            </app-absence-block>
        </div>
        <div class="col-12 xl:col-6" *showForRoles="['TEACHER']">
            <app-others-block>
            </app-others-block>
        </div>
    </div>
</div>
