<div id="assignContainer">
    <div id="headerContent" class="flex justify-content-between gap-2 mb-5">
        <div id="title" ngClass="{{announcementType + 'Title'}}">
            <h3> {{ (getEnumName(announcementType, DETAIL).toUpperCase()) }}</h3>
        </div>
        <p-button label="ÚJ" icon="pi pi-plus" *showForRoles="['TEACHER']"
                  [style]="{'background-color': '#495057', 'color': 'white', height: '100%'}" (click)="openNew()"/>
    </div>
    <p-accordion [multiple]="true" [activeIndex]="[0]"
                 [style]="{'display': 'flex', 'flex-direction': 'column', 'gap': '10px'}">
        <p-accordionTab *ngFor="let item of (announcements$ | async)" iconPos="end"
                        [style]="{'border-left': '5px solid ' + isAnnouncementTask ? '#F59E0B' : '#3B82F6', 'border-radius': '5px',
            filter: 'drop-shadow(0px 4px 2px #00000025)', 'max-height': '50dvh'}">
            <ng-template pTemplate="header">
                <p [style]="{'font-size': '20px', 'font-weight': 'bold', 'color': '#495057'}">{{ item.title }}</p>
            </ng-template>
            <div class="flex ">
                <div class="announcement w-7">
                    <div class="action-buttons" *showForRoles="['TEACHER']">
                        <button pButton pRipple type="button" icon="pi pi-trash"
                                class="p-button-rounded p-button-secondary p-button-text"
                                (click)="confirmDel(item.id, $event)" [loading]="(loading$ | async)!"></button>
                    </div>
                    <div class="accordionItemContent">

                        <p-divider *showForRoles="['TEACHER']"></p-divider>
                        <div *ngIf="item.task" class="infos"
                             style="background-color: #f59f0b1e; width: fit-content; padding: 5px;">
                            <div class="box">
                                <div class="flex gap-2 align-items-center">
                                    <p class="text-center">Beadási határidő: <span
                                        class="font-bold font-italic"><i>{{ item.task.deadline | nexusTime }}</i></span>
                                    </p>
                                    <span *ngIf="isTaskExpired(item.task.deadline)"
                                          class="task-badge type-expired">Lejárt</span>
                                </div>

                                <p>Feladat típusa: <span
                                    class="font-bold font-italic">{{ getEnumName(item.task.type, TASK_TYPE) }}</span>
                                </p>
                            </div>
                        </div>
                        <div class="description p-2">
                            <div [innerHTML]="item.description"></div>
                        </div>
                    </div>

                    <div class="accordionItemBottom w-full mb-5">
                        <ng-container *showForRoles="['TEACHER']">
                            <div *ngIf="item.task" class="flex justify-content-center">
                                <p-button type="button" severity="warning" label="Beadott feladatok"
                                          class="p-button-raised p-button-warning"
                                          (click)="navigateToSubmittedTasks(item.id)"></p-button>
                            </div>
                        </ng-container>
                        <div class="creation-date w-full text-right">
                            <span><i>{{ item.published | nexusTime }}</i></span>
                        </div>
                    </div>

                </div>
                <p-divider layout="vertical"></p-divider>
                <div class="comments w-5">
                    <app-comments [announcementId]="item.id" [comments]="item.comments"
                                  (commentClicked)="addComment($event)">
                    </app-comments>
                </div>
            </div>
        </p-accordionTab>
    </p-accordion>
</div>

<p-confirmPopup key="confirmDel"></p-confirmPopup>

<app-new-announcement-popup *ngIf="announcementDialog"
                            [announcementDialog]="announcementDialog"
                            [announcementType]="announcementType"
                            (closeDialogEvent)="closeDialog()">
</app-new-announcement-popup>
