<p-dialog [(visible)]="announcementDialog" [style]="{width: '800px'}" header="Új {{title}} felvétele" [modal]="true"
          class="p-fluid" (onHide)="hideDialog()">
    <ng-template pTemplate="content">
        <p>New popup</p>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Mégse" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button type="submit" pButton pRipple label="Mentés" icon="pi pi-check" class="p-button-text" (click)="saveGrading()"></button>
    </ng-template>
</p-dialog>
