<div class="card" [style.borderColor]="'#607D8B'">
    <div class="flex justify-content-between">
        <h4>Továbbiak</h4>
    </div>
    <div>
        <p>A tantárgyhoz szükséges dokumentumok kezeléséhez:</p>
        <button pButton pRipple label="Dokumentumok" icon="pi pi-folder" class="p-button-raised p-button-secondary"></button>
    </div>
    <div>
        <p>Tanulók éves értékeléseihez:</p>
        <button pButton pRipple label="Értékelések" icon="pi pi-align-left" class="p-button-raised p-button-secondary"
        routerLink="grades"></button>
    </div>
    <div>
        <p>Az évben rögzített órák naplózásához:</p>
        <button pButton pRipple label="Naplózások" icon="pi pi-pencil" class="p-button-raised p-button-secondary"
        routerLink="diaries"></button>
    </div>
</div>
