<p-dialog [(visible)]="userDialog" [style]="{width: '800px'}" header="Felhasználó felvétele a rendszerbe" [modal]="true"
          class="p-fluid" (onHide)="hideDialog()">
    <ng-template pTemplate="content">
        <form [formGroup]="userForm" novalidate>

            <div class="grid">
                <div class="field col-6">
                    <label for="last-name" class="block">Vezetéknév</label>
                    <input type="text" pInputText id="last-name" formControlName="lastName" required/>
                    <small class="p-error block" *ngIf="isInputInvalid('lastName')">A vezetéknév megadása kötelező.</small>
                </div>
                <div class="field col-6">
                    <label for="first-name">Keresztnév</label>
                    <input type="text" pInputText id="first-name" formControlName="firstName" required/>
                    <small class="p-error block" *ngIf="isInputInvalid('firstName')">A keresztnév megadása kötelező.</small>
                </div>
            </div>

            <div class="field">
                <label for="password">Jelszó</label>
                <p-password  id="password" [feedback]="false" formControlName="password"></p-password>
                <small class="p-error block" *ngIf="isInputInvalid('password')">A jelszó megadása kötelező.</small>
            </div>

            <div class="grid">
                <div class="field col-6">
                    <label for="first-name">Telefonszám</label>
                    <input type="text" pInputText id="phone" formControlName="phone"/>
                    <small class="p-error block" *ngIf="isInputInvalid('phone')">A telefonszám megadása kötelező.</small>
                </div>

                <div class="field col-6">
                    <label for="first-name">Tanintézmény</label>
                    <p-dropdown inputId="school" [options]="schools" optionLabel="name" [filter]="true"
                                filterBy="name" [showClear]="true"
                                formControlName="school">
                        <ng-template let-school pTemplate="item">
                            <div class="flex align-items-center">
                                <div>{{ school.name }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
            </div>

            <div class="grid">
                <div class="field col-6">
                    <label for="public-email">Publikus email</label>
                    <input type="text" pInputText id="public-email" formControlName="publicEmail"/>
                    <small class="p-error block" *ngIf="isInputInvalid('publicEmail')">A publikus email megadása kötelező.</small>
                </div>
                <div class="field col-6">
                    <label for="school-email">Iskolai email</label>
                    <input type="text" pInputText id="school-email" formControlName="schoolEmail"/>
                    <small class="p-error block" *ngIf="isInputInvalid('schoolEmail')">Az iskolai email megadása kötelező.</small>
                </div>
            </div>

            <div class="grid">
                <div class="field col-6">
                    <label for="birthplace">Születési hely</label>
                    <input type="text" pInputText id="birthplace" formControlName="birthplace"/>
                    <small class="p-error block" *ngIf="isInputInvalid('birthplace')">A születési hely megadása kötelező.</small>
                </div>
                <div class="field col-6">
                    <label for="birthdate">Születési idő</label>
                    <p-calendar [showIcon]="true" inputId="birthdate" id="birthdate" formControlName="birthdate"></p-calendar>
                    <small class="p-error block" *ngIf="isInputInvalid('birthdate')">A születési idő megadása kötelező.</small>
                </div>
            </div>

            <div class="grid">
                <div class="field col-6">
                    <label for="residence">Lakhely</label>
                    <input type="text" pInputText id="residence" formControlName="residence"/>
                    <small class="p-error block" *ngIf="isInputInvalid('residence')">A lakhely megadása kötelező.</small>
                </div>
            </div>

            <h5>Jogosultságok</h5>
            <div class="grid formgrid">
                <div class="col-12 md:col-2">
                    <div class="field-radiobutton">
                        <p-radioButton [value]="Role.ADMIN" formControlName="role" id="admin"></p-radioButton>
                        <label for="admin">{{ ROLE_TYPE.ADMIN }}</label>
                    </div>
                </div>
                <div class="col-12 md:col-2">
                    <div class="field-radiobutton">
                        <p-radioButton [value]="Role.STUDENT" formControlName="role" id="student"></p-radioButton>
                        <label for="student">{{ ROLE_TYPE.STUDENT }}</label>
                    </div>
                </div>
                <div class="col-12 md:col-2">
                    <div class="field-radiobutton">
                        <p-radioButton [value]="Role.PARENT" formControlName="role" id="parent"></p-radioButton>
                        <label for="parent">{{ ROLE_TYPE.PARENT }}</label>
                    </div>
                </div>
                <div class="col-12 md:col-2">
                    <div class="field-radiobutton">
                        <p-radioButton [value]="Role.TEACHER" formControlName="role" id="teacher"></p-radioButton>
                        <label for="teacher">{{ ROLE_TYPE.TEACHER }}</label>
                    </div>
                </div>
            </div>

            <app-student-creation
                *ngIf="selectedRole === Role.STUDENT"
                [parents]="parents"
                (studentFormEvent)="studentChangeEvent($event)">
            </app-student-creation>

            <app-teacher-creation
                *ngIf="selectedRole === Role.TEACHER"
                (teacherFormEvent)="teacherChangeEvent($event)"
            ></app-teacher-creation>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Mégse" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button type="submit" pButton pRipple label="Mentés" icon="pi pi-check" class="p-button-text" [disabled]="formGroupIsInvalid" (click)="saveUser()"></button>
    </ng-template>
</p-dialog>
