$primaryColor: #7986CB;
$primaryLightColor: scale-color($primaryColor, $lightness: 30%) !default;
$primaryDarkColor: scale-color($primaryColor, $lightness: -10%) !default;
$primaryDarkerColor: scale-color($primaryColor, $lightness: -20%) !default;
$primaryTextColor: #ffffff;

$highlightBg: rgba(121, 134, 203, 0.16);
$highlightTextColor: rgba(255,255,255,.87);
$highlightFocusBg: rgba($primaryColor, 0.24);

@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';