<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            <div style="display: flex; justify-content: space-between;">
                <div class="my-2">
                    <h5 style="margin: 0">Naplózások</h5>
                </div>
                <div class="my-2">
                    <p>Nem naplózott órák száma: <span><b>{{ (notLoggedNum | async)! }}</b></span></p>
                </div>
            </div>

            <p-table
                #diaryTable
                [nexusLoading]="loading$"
                [value]="(diaries$ | async)!"
                [paginator]="true"
                [rows]="8"
                [rowHover]="true"
                [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="{first}-{last} megjelenítése a(z) {totalRecords} bejegyzésből"
                (onPage)="pageChange($event)"
                [rowsPerPageOptions]="[10, 25, 50]"
                [globalFilterFields]="['lessonNum', 'date','topic']"
            >
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <button pButton label="Szűrő törlése" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(diaryTable)"></button>
                        <span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="onGlobalFilter(diaryTable, $event)" placeholder="Kulcsszó keresése" class="w-full"/>
						</span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="lessonNum" id="lessonNum" style="width:10%">Éves óraszám <p-sortIcon field="lessonNum"></p-sortIcon></th>
                        <th pSortableColumn="date" id="date" style="width:22%">Dátum <p-sortIcon field="date"></p-sortIcon></th>
                        <th pSortableColumn="topic" id="topic" style="width:55%">Óra témája <p-sortIcon field="topic"></p-sortIcon></th>
                        <th id="actions" style="width:13%"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-diary [formGroup]="tableGroup">
                    <tr class="tr-body">

                        <td>{{ diary.lessonNum }}.</td>

                        <td><i>{{ diary.date | nexusTime }}</i></td>

                        <td class="topic-text" *ngIf="!diary.editNeeded" (click)="changeElToInput(diary)">
                            {{ diary.topic }}
                        </td>

                        <td *ngIf="diary.editNeeded">
                            <input type="text" pInputText placeholder="Az óra témája..." id="{{ diary.lessonId }}"
                                   [formControlName]="diary.lessonId" style="width: 100%"/>
                        </td>

                        <td style="padding: 0; margin: 0;">
                            <div class="flex edit-btn action-buttons" *ngIf="!diary.editNeeded">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                                (click)="changeElToInput(diary)"></button>
                            </div>
                            <div class="action-buttons" *ngIf="diary.editNeeded">
                                <button pButton pRipple type="button" label="OK" class="p-button-raised"
                                        (click)="uploadTopic(diary)" [disabled]="isFormControlInvalid(diary)"></button>
                            </div>
                            <div class="action-buttons" *ngIf="diary.editNeeded && diary.topic">
                                <button pButton pRipple type="button" icon="pi pi-times"
                                        class="p-button-rounded p-button-secondary p-button-outlined"
                                        (click)="changeElToText(diary)"></button>
                            </div>
                        </td>

                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
