<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            <h5>Beadott feladatok</h5>
            <p-table
                #tasksTable
                [value]="(tasks$ | async)!"
                [paginator]="true"
                [rows]="5"
                [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="{first}-{last} megjelenítése a(z) {totalRecords} bejegyzésből"
                (onPage)="pageChange($event)"
                [rowsPerPageOptions]="[10, 25, 50]"
                [globalFilterFields]="['studentName','grade.gradeValue','graded']"
            >
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <button pButton label="Szűrő törlése" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(tasksTable)"></button>
                        <span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="onGlobalFilter(tasksTable, $event)" placeholder="Kulcsszó keresése" class="w-full"/>
						</span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="studentName" id="name" style="width:25%">Név <p-sortIcon field=""></p-sortIcon></th>
                        <th id="submitted" style="width:25%">Beadta</th>
                        <th pSortableColumn="grade.gradeValue" id="grade" style="width:25%">Értékelés <p-sortIcon field=""></p-sortIcon></th>
                        <th pSortableColumn="graded" id="graded" style="width:25%">Értékelve <p-sortIcon field=""></p-sortIcon></th>
                        <th id="details" style="width:25%"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-task>
                    <tr>
                        <td>{{ task.studentName }}</td>
                        <td><app-bool-indicator [bool]="!!task.submitted"></app-bool-indicator></td>
                        <td><span *ngIf="task.grade" [grade]="task.grade.gradeValue">{{ task.grade.gradeValue }}</span></td>
                        <td><i>{{ task.graded | date: 'yyyy.MM.dd hh:mm' }}</i></td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple type="button" label="Részletek" class="p-button-warning p-button-text"
                                (click)="openNew()"></button>
                            </div>
                        </td>
                    </tr>
                    <app-task-popup *ngIf="detailsDialog"
                        [task]="task"
                        [detailsDialog]="detailsDialog"
                        (closeDialogEvent)="closeDialog()">
                    </app-task-popup>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
